body {
    background-color: #000033; 
}

/******************************************************************************************************* Dashboard Tab ************************************************************************/
#dashboard{
    background-color: orange;
}

/* Styling dropdown plot choices*/
#date_range_div{
    padding-top: 15px;
    padding-bottom: 20px;
    margin: auto;
    text-align: center;
    
}

#plot_content{
    background-color: darkgrey;
    color: white;
    text-align:center;
    font-weight: bold;
    padding-bottom: 15px;
    border: 2px solid orange;
}

/* Styling measure tables */
#tables
{
    background-color: orange;
    border: 1px solid #000;
    padding: 0.5rem;
    display: flex;
  }
  
#table-left,
#table-right
{
    background-color: #000033;
    padding: 0.5rem;
    flex-grow: 1;
 
}

  #slider_output{

    color:white;
    font-weight: bold;
    font-size: 150%;
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    background-color: orange;
    text-align: center;
  }

  #stock_value_slider{
      padding-top: 20px !important;
      padding-bottom: 20px !important;

  }

  #ticker{
    padding-top: 20px !important;
    padding-bottom: 20px !important;
  }

/**************************************************************************  Project Description Tab Styling *******************************************************************************/
#project-description{

background-color: orange;
}

#description{
    background-color: white;
}