body {
    background-color: #000033; 
}

/******************************************************************************************************* Dashboard Tab ************************************************************************/
#dashboard{
    background-color: orange;
}

/* Styling dropdown plot choices*/
#date_range_div{
    padding-top: 15px;
    padding-bottom: 20px;
    margin: auto;
    text-align: center;
    
}

#plot_content{
    background-color: darkgrey;
    color: white;
    text-align:center;
    font-weight: bold;
    padding-bottom: 15px;
    border: 2px solid orange;
}
  
#ma_table,
#measures_table, 
#earnings_table
{
    background-color: #000033;
    padding: 1rem;
    flex-grow: 1;
 
}

  #slider_output{

    color:white;
    font-weight: bold;
    font-size: 150%;
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    background-color: orange;
    text-align: center;
  }

  #stock_value_slider{
      padding-top: 20px !important;
      padding-bottom: 20px !important;

  }

  #ticker{
    padding-top: 20px !important;
    padding-bottom: 20px !important;
  }

  #stock_series{
    padding-bottom: 10px;
  }

/**************************************************************************  Project Description Tab Styling *******************************************************************************/
#project-description{

background-color: orange;
}

#description{
    background-color: lightgray;
    text-align: justify;
    margin-left: 5%;
    margin-right: 5%;

}

#description_text{

  margin-left: 10px;
  margin-right: 10px;
}

.table_header{

  background-color: orange;
  color:white;
  height: 150%;
  text-align: center;
  padding: 1rem;
  font-weight: bold;
  font-size: 120%

}